.img-fluid {
    height: 100%;
    width: 100%;
    margin-left: 0%;
}

.text__nick{
    font-size: 16px;
    color: #404040;
}

.text__posted{
    font-size: 12px;
}


.list__group__title:first-of-type {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px;
    color: rgba(59, 73, 223, 1);
}

.list__group__final:last-of-type {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px;
    color: rgba(59, 73, 223, 1);
}

.list-group-itemaside {
    list-style: none;

}

.card__profileinfo{
    background-color: rgba(250, 250, 250, 1)
}


.taylor__container2{
padding: 12px 12px 0px 12px;
}

.taylor__container {

    width: auto;
    height: 100%;

    &--details{
        margin:auto;
        line-height:15px;
    }
}

.span__discuss{
    color: #1ad643;
}

.span__retro{
    color: #A2FFF1;
}

.span__learn{
    color: #3b49df;
}

.badge{
    font-size: 16px;
    background:#EFEFEF !important;
    color:#575757;
}

.badge__30{
    background:#3b49df!important;
    color:#FFFFFF;
}

.span__today{
    color:#171717;
    font-size: 27px;

}

.p__summarize{
    font-size: 15px;
}

.btn__follow{
    width: 80px;
    height: 40px;
    background-color: #3b49df1a;
    color: #3b49df;
    border:none;
}

@media (min-width: 320px){

    .img-taylor{
        height: 40px;
        width: 40px;
    }


    .text__title{
        font-size: 30px;
    }

    .section__title{
        width: 296px;
        height: auto;
    }

    .list__group__title{
        font-size:18px;
    }

    .text__aftergift{
        font-size: 18px;
    }

    .img__gif{
        width: 288px;
        height: 191px;
        border-radius: 5px;
    }

    .card-body-post {
        height: 102px;
        width: 288px;
        border: 1px solid;
        border-color:#720000;
        box-shadow: 3px 3px  #720000;
        margin-left: 15px;
    }


    .img-readnext{
    height: 48px;
    width: 48px;
    }

    .discussion{
        font-size: 20px;
    }

    .discussion__tex{
        width:269px;
    }

    .logo__discussion{
        width: 24px;
        height: 24px;
    }

    .section__readnext{
        background-color: rgba(250,250,250,1);
        height: auto;
        width: 296px;
        border-radius: 10px;
        // margin-left: 10px;
    }
}

@media (min-width: 768px){

    .img-taylor{
        height: 40px;
        width: 40px;
    }



    .text__title{
        font-size: 36px;
    }

    .section__title{
        width: 584px;
        height: auto;
    }


    .list__group__title{
        font-size:20px;
    }

    .img__gif{
        width: 480px;
        height: 310px;
        border-radius: 5px;
        // margin-left: 100px;
    }

    .text__aftergift{
        font-size: 18px;
    }

    .card-body-post {
        margin-left: 50px;
        height: 93px;
        width: 496px;
    }


    .section__readnext{
        background-color: rgba(250,250,250,1);
        height: auto;
        width: 584px;
        // margin-left: 70px;
        border-radius: 10px;
    }

    .img-readnext{
    height: 64px;
    width: 64px;
    }
    .discussion{
        font-size: 24px;
    }
    .discussion__tex{
        width:542px;
    }

    .discussion__container{
        margin-left: 50px;
    }

    .logo__discussion{
        width: 32px;
        height: 32px;
    }


    .list__group__title{
        width: 550px;
        height: 55px;
        font-size:20px;
    }

}

@media (min-width: 1024px){

    .img-taylor{
        height: 40px;
        width: 40px;
    }

    .text__title{
        font-size: 48px;
    }

    .section__title{
        width: 499.19px;
        height: auto;
    }


    .list__group__title{
        width: 500px;
        height: 55px;
        font-size:20px;
    }

    .img__gif{
        width: 480px;
        height: 310px;
        border-radius: 5px;
    }


    .text__aftergift{
        font-size: 20px;
    }

    .card-body-post {
        height: 93px;
        width: 445px;
    }

    .img-readnext{
    height: 64px;
    width: 64px;
    }

    .discussion{
        font-size: 24px;
    }

    .discussion__tex{
        width:800px;
    }

    .section__readnext{
        background-color: rgba(250,250,250,1);
        height: auto;
        width: 550px;
        border-radius: 10px;
        // margin-left: 200px;
    }

    .logo__discussion{
        width: 32px;
        height: 32px;
    }

}




.font__readnext{
    font-size: 20px;
}

.font_readnextp{
    font-size: 16px;
}

.btn-light{
    font-size: 16px;
}
